
/* Style the rest of the page. */
body {
  background-color: #0e1e24;
  color: #F2F2F2;
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    align-items: center;
}

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

span {
    font-size: 1.25em;
    text-align: center;
    margin-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .svg{
    filter: invert(57%) sepia(8%) saturate(302%) hue-rotate(153deg) brightness(88%) contrast(91%);
    height: 45px;
    width: 45px;
  }

  .svg:hover {
    filter: invert(99%) sepia(2%) saturate(319%) hue-rotate(180deg) brightness(115%) contrast(90%);
  }

  table.icons{
    margin-top: -1em;
    margin-left:auto; 
    margin-right:auto;

  }

  td{
      padding: 2em;
  }

  .logo{
    width: 430px;
    height: 230px;
  }

  @media all and (max-width: 475px){
    .logo {
      width: 258px;
      height: 138px;
      }
      
      span {
          font-size: 0.85em;
        }

    .svg {
        height: 30px;
        width: 30px;
    }
  }